@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Raleway');

/*
font-family: 'Nothing You Could Do', cursive;
font-family: 'Raleway', sans-serif;
*/

body {
    color: #EADECF;
    background-color: #0F0E0E;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

h1 {
    color: #BEB2A4;
    font-size: 40px;
    line-height: 47px;
}

h1 span {
    color: #EADECF;
    font-family: 'Nothing You Could Do', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 75px;
}

h2 {
    font-family: inherit;
    font-size: 48px;
    line-height: 56px;
    color: #EADECF;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    color: #EADECF;
}

h4 {
    font-size: 18px;
    line-height: 21px;
    color: #EADECF;
}

.nav-item a {
    color: #BEB2A4;
}

.custom-file-input {
    color: darkred;
    opacity: 1;
}

.big-pic {
    position: relative;
    width: 100%;
    height: 550px;
    background: center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.square {
    background: center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    padding-left: 10%;
    padding-right: 15%;
    bottom: 15%;
}

.footer-moto {
    font-family: "Nothing You Could Do", corsive !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #BEB2A4 !important;
}

.alert-success {
    text-align: center;
    background-color: inherit;
    border-color: #c3e6cb;
    color: inherit;
}
