{% extends 'base.html.twig' %}

{% block body %}
    <div class="big-pic" style="background-image: url('{{ asset('about_page.jpg') }}')"></div>

    <div class="container">
        <h1 class="my-5 text-center">About</h1>
        <p>I'm Adriana Boyadzhieva</p>
        <p>I&rsquo;m intrigued by light, by the feelings and atmosphere it creates in the process of its taming. </p>
        <p>To me paper is a challenge. I&rsquo;m fascinated by the ancient traditions of its production, the remarkable masters, ancient and contemporary, in handmade paper and the artists working
            with this material and their inspiring works. In my work paper has gone from being an element to an active participant, attracting and challenging me more and more. </p>
        <p>The random and sometimes queer shapes of fallen, broken branches and tree roots trigger my curiosity for wood as a material. The individual transformations of these two otherwise fragile
            materials make me look for a way to make each lamp a sculpture with its own meaning and story.</p>
        <ul>
            <li>collaborative exhibition, Sofia Paper Art Fest: NDK, Arte Gallery, OneMonev Gallery, Apr&amp;May 2018</li>
            <li>Solo exhibition "Game with Fire", Sofia Paper Art Fest, Sofia, Bulgaria, May 2017</li>
            <li>collaborative exhibition Underground Gallery, Sofia, Bulgaria, May 2016</li>
            <li>award for Bulgarian artist, Sofia Paper Art Fest, Sofia, Bulgaria, May 2016</li>
            <li>collaborative exhibition BASQUIAT Wine &amp; Art, Kapana, Plovdiv, Bulgaria, September 2015</li>
            <li>collaborative exhibition Underground Gallery, Sofia, Bulgaria, February 2015</li>
        </ul>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

