<p><strong>Subject:</strong> {{ message.subject }}</p>
<p><strong>From:</strong> {{ message.name }}</p>
<p><strong>e-mail:</strong> {{ message.email }}</p>
<p><strong>Message:</strong></p>
<p>{{ message.message }}</p>