<img src="{{ asset('down-arrow.svg') }}" onclick="scrollToTop()" class="mt-5 ml-5">
<div class="container">
    <div class="row" style="margin-top: 100px; margin-bottom: 50px;">
        <div class="col-sm-8 col-md-9 footer-moto">
            <p>In the darkness of my room</p>
            <p>Theatre of trees</p>
            <p>And the light whirls around me</p>
        </div>
        <div class="col-sm-4 col-md-3">
            <p>light@adrislight.com</p>
            <p>+359 886 000 324</p>
            <a href="https://www.facebook.com/adrislight" target="_blank"> <img src="{{ asset('facebook.svg') }}"></a>&emsp;
            <a href="https://www.pinterest.com/adrianaboyadjieva" target="_blank"><img src="{{ asset('pinterest.svg') }}"></a> &emsp;
            <a href="https://www.instagram.com/adrianaboyadjieva" target="_blank"><img src="{{ asset('instagram.svg') }}"></a> &emsp;
        </div>
    </div>
</div>